@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
    user-select: none;
  }

  .dark body {
    @apply bg-slate-950 text-slate-100;
  }

  #root {
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .card {
    @apply bg-white dark:bg-slate-900 rounded-3xl shadow-sm border border-slate-100 dark:border-slate-800 transition-all active:scale-95;
  }
}

@keyframes shijing-splash {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(260%);
  }
}
